.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar
/ebin/
.settings
.project
/src/xs_regex_parser.erl
/src/xs_regex_scanner.erl
scripts/*.beam
_build